.img-portada {
  width: 100%;
  height: 250px; /* Tú eliges la altura que prefieras */
  object-fit: cover; /* ¡Esta es la magia! Recorta la foto para llenar el espacio sin estirarla */
  object-position: center; /* Centra el recorte para no perder lo importante */
}